:root{
  --blue-light: #4682B4;
  --gray-blue: #708090;
  --stell-blue: #B0C4DE;
  --grey-light: #EFEFEF;
}

*{
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  /* font-family: 'Chakra Petch', sans-serif; */
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.container{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0rem 1.5rem;
}

.gradient {
  background: linear-gradient(90deg, var(--blue-light), var(--stell-blue), var(--gray-blue));
  background-clip: text;
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
  color: #1C1C1C;
}

.header{
  height: 100px;
  width: 100%;
}

.header-logo{
  display: flex;
  align-items: center;
  gap: 20px;
  height: 100%;
}

.header-logo h1{
  font-size: 75px;
  font-weight: bold;
}

.main{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: var(--grey-light);
  border-radius: 10px;
}

#encrypt-text{
  color: #808080;
  border: none;
  background-color: var(--grey-light);
  width: 100%;
  height: calc(100vh - 369px);
  outline: none;
  resize: none;
  padding: 1.5rem;
  font-size: 24px;
  border-radius: 10px 10px 0px 0px;
}

#encrypt-text::placeholder{
  color: #808080;
}

.encrypt{
  flex-grow: 2;
  flex-basis: 65%;
}

.click-area{
  display: flex;
  flex-direction: column;
  padding: 30px 30px;
  background-color: var(--grey-light);
  border-radius: 0px 0px 0px 10px;
}

.warning-area{
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 12px;
}

.warning-area img{
  width: 15px;
  height: 15px;
  margin-right: 5px;
  margin-bottom: 4px;
}

.buttons{
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.button{
  padding: 15px 60px;
  border: none;
  width: 47%;
  border-radius: 10px;
  font-size: 15px;
}

.button.btn-copy{
  width: 100%;
}

.btn-encrypt{
  background-color: var(--gray-blue);
  border: solid 1px var(--gray-blue);
  color: var(--grey-light);
  transition: 0.5s;
}

.btn-encrypt:hover{
  color: var(--gray-blue);
  background-color: #6495ED;
  border: none;
  cursor: pointer;
  scale: 1.01;
}

.btn-decrypt{
  background-color: var(--blue-light);
  border: solid 1px var(--blue-light);
  color: #000000;
  transition: 0.5s;
}

.btn-decrypt:hover{
  color: var(--blue-light);
  background-color: #6495ED;
  border: none;
  cursor: pointer;
  scale: 1.01;
}

.btn-copy{
  background-color: var(--stell-blue);
  color: #000000;
  transition: 0.5s;
}

.btn-copy:hover{
  color: var(--stell-blue);
  border: none;
  background-color: #6495ED;
  cursor: pointer;
}

.decrypt{
  flex-grow: 1;
  flex-basis: 35%;
  min-height: 300px;
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(var(--blue-light), var(--stell-blue), var(--gray-blue));
  padding: 0 20px;
  border-radius: 10px;
}

.decrypt img{
  width: 100%;
}

.decrypt h3{
  width: 100%;
  color: #FFFFFF;
  text-align: center;
  font-size: 22px;
}

.decrypt p{
  width: 100%;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
}

.encrypted-box{
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 30px 10px;
  gap: 20px;
  display: none;
}

.encrypted-text{
  background-color: rgba(0, 0, 0, 0.2);
  width: inherit;
  height: 90%;
  padding: 25px 25px;
  border-radius: 10px;
  color: #FFFFFF;
  font-size: 28px;
  border: none;
  outline: none;
  resize: none;
}


@media (max-width: 905px) {
  #encrypt-text{
    height: 300px;
  }
}

@media (max-width: 607px) {
  .button{
    width: 100%;
  }
}

@media (max-width: 510px) {
  .header-logo h1{
    font-size: 60px;
    font-weight: bold;
  }
}

@media (max-width: 440px) {
  .header-logo h1{
    font-size: 40px;
  }

  #encrypt-text{
    font-size: 28px;
  }
}

@media (max-width: 350px) {
  .decrypt{
    min-width: 270px;
  }
  .warning-area{
    font-size: 10px;
  }
}

@media (max-width: 344px) {
  .header-logo h1{
    font-size: 35px;
  }
  .button{
    font-size: 14px;
  }
}


@media (max-width: 330px) {
  .button{
    font-size: 12px;
  }
}
